version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  allow:
    - dependency-type: "all"
  versioning-strategy: increase
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "@types/node"
    versions: [">=21.0.0"]
  - dependency-name: "@mui/icons-material"
    versions: [">=7.0.0-0"]
  - dependency-name: "@mui/lab"
    versions: [">=6.999"]
  - dependency-name: "@mui/material"
    versions: [">=7.0.0-0"]
  - dependency-name: "@mui/styles"
    versions: [">=7.0.0-0"]
  - dependency-name: "@mui/x-tree-view"
    versions: [">=8.0.0-0"]
  - dependency-name: "react"
    versions: [">=19.0.0-0"]
  - dependency-name: "react-dom"
    versions: [">=19.0.0-0"]
  - dependency-name: "@types/react"
    versions: [">=19.0.0-0"]
  - dependency-name: "@types/react-dom"
    versions: [">=19.0.0-0"]
  groups:
    typescript-eslint:
      patterns:
      - "@typescript-eslint/*"
      - "typescript-eslint"
    material-ui:
      patterns:
      - "@mui/*"
    rjsf:
      patterns:
      - "@rjsf/*"
    survey:
      patterns:
      - "survey-core"
      - "survey-react-ui"
    uiw:
      patterns:
      - "@uiw/*"
    react:
      patterns:
      - "react"
      - "@types/react"
      - "react-dom"
      - "@types/react-dom"
    sinon-chai:
      patterns:
        - "chai"
        - "@types/chai"
        - "sinon-chai"
        - "@types/sinon-chai"
