{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "comment": true,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "header",
    "import"],
  "settings": {
    "import/core-modules": [ "vscode" ],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts"
        ]
      }
    },
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts"
    ]
  },
  "rules": {
    "header/header": [2, "./header.js"],
    "camelcase": 2,
    "consistent-return": 0,
    "consistent-this": [1, "that"],
    "curly": ["error", "multi-line"],
    "default-case": [2],
    "dot-notation": [2],
    "no-multiple-empty-lines": [1, { "max": 1, "maxEOF": 0 }],
    "eqeqeq": [2, "allow-null"],
    "guard-for-in": 2,
    "import/no-unresolved": ["error"],
    "import/no-duplicates": ["error"],
    "import/prefer-default-export": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "max-nested-callbacks": [1, 4],
    "max-classes-per-file": [0],
    "no-alert": 2,
    "no-caller": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-debugger": 2,
    "no-else-return": ["error"],
    "no-global-strict": 0,
    "no-irregular-whitespace": ["error"],
    "no-param-reassign": ["error", { "props": false }],
    "no-shadow": ["error"],
    "no-underscore-dangle": 0,
    "no-useless-constructor": "off",
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/unbound-method": ["error", { "ignoreStatic": true }],
    "no-var": 2,
    "object-shorthand": ["error", "properties"],
    "prefer-const": ["error", { "destructuring": "all" }],
    "prefer-template": 2,
    "radix": 2,
    "no-trailing-spaces": "error",
    "@typescript-eslint/prefer-regexp-exec": 0,
    "quotes": [ "error", "single"]
  },
  "overrides": [
    {
        "files": ["*.test.ts"],
        "rules": {
            "no-unused-expressions": "off",
            "@typescript-eslint/unbound-method" : "off",
            "max-nested-callbacks" : "off"
        }
    }
  ]
}
