.yarn
__coverage__
public/dist
*.min.js
public/lib
node_modules
Godeps
test-resources
src/webview/log
src/webview/describe
src/webview/cluster
out
src/webview/common
src/webview/create-service
src/webview/devfile-registry
src/webview/welcome
src/webview/git-import
src/webview/helm-chart
src/webview/feedback
test/sandbox-registration
