allow-scripts=@parcel/watcher
allow-scripts=@vscode/vsce-sign
allow-scripts=cpu-features
allow-scripts=esbuild
allow-scripts=keytar
allow-scripts=protobufjs
allow-scripts=ssh2
allow-scripts=unrs-resolver
