.vscode/**
.vscode-test/**
images/gif/**
out/test/**
out/build/**
out/test-resources/**
out/tools-cache/**
out/**/*.map
src/**
doc/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
*.vsix
test/**
out/coverage/**
coverconfig.json
Jenkinsfile
.gitattributes
.travis.yml
CONTRIBUTING.md
build/**
out/build**
azure-pipelines.yml
images/demo-featured-image.png
test-resources/**
header.js
.mocharc.js
.eslintignore
