.vscode/**
.vscode-test/**
images/vscode-openshift-tools.gif
out/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
*.vsix
test/**
coverage/**
coverconfig.json
Jenkinsfile
.gitattributes
.travis.yml
CONTRIBUTING.md
dist/**/*.map
webpack.*.json
node_modules
.editorconfig
webpack.config.js