azure-pipelines.yml
build/**
build/**
CONTRIBUTING.md
coverage/**
coverconfig.json
doc/**
.eslintignore
.gitattributes
.github
.gitignore
header.js
images/demo-featured-image.png
images/gif/**
Jenkinsfile
.mocharc.js
out/build**
out/build/**
out/coverage/**
out/**/*.map
out/esm/**
out/shared/**
out/src-orig/**
out/test/**
out/test-resources/**
out/tools-cache/**
out/webview/**
*.sha256
src/**
!src/tools.json
test/**
test/**
test-resources/**
test-resources/**
*.tgz
.travis.yml
*/**.tsbuildinfo
tsconfig.json
tsconfig.tsbuildinfo
tslint.json
vsc-extension-quickstart.md
.vscode/**
.vscode-test/**
*.vsix