
.card {
    width: 30%;
    float: left;
    margin-right: 2em;
    margin-left: 2em;
    position: relative;
    overflow: hidden;
    transform: scale(0.95);
  }
  
.card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  
.bg-teal-dark {
    background-color: #00586d!important;
    padding: 1em;
    border-bottom: 0 solid transparent;
  }
