.welcome-sections {
    font-family: var(--font-family);
    min-width: 1024px;

}
.extension-icon {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    margin-right: 10px;
}
.section-row {
    display: block;
    min-height: 120px;
    white-space: nowrap;
    padding: 3px 25px;
}
.section-content {
    display: inline-block;
    vertical-align: top;
}
.section-name {
    display: inline-block;
    vertical-align: top;
    font-size: x-large;
}
.section-icon {
    display: inline-block;
    width: 45px;
    padding: 20px 25px 20px 25px;
    margin-right: 30px;
    background-color: var(--vscode-titleBar-activeBackground);
}
