body {
    &.vscode-light {
        background-color: var(--color-background--darken-05);
    }
}

button {
    padding: 0;
}

.margin {
    margin: 3rem;
}

.mainContainer,
.formContainer,
.form {
    display: flex;
    flex-direction: column;
    font-family: var(--vscode-font-family);
}

.title {
    width: 100%;
    margin-bottom: 1rem;
}

.subTitle {
    margin-bottom: 2rem;
    max-width: 59rem;
    justify-content: center;
    word-spacing: 5px;
    text-align: justify;
    color: var(--vscode-foreground);
    font-weight: normal;
    font-size: 14px;
}

.buttonStyle {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--vscode-button-foreground);

    &:hover {
        background-color: '#BE0000' !important;
    }

    text-transform: none;
}

.strategyContainer {
    display: flex;
    flex-direction: row;
    border-top: 3px solid;
    max-width: 55rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    min-height: 2rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.strategySuccess {
    border-color: green;
    background-color: darkseagreen !important;
}

.strategyWarning {
    border-color: orange;
    background-color: burlywood !important;
}

.MuiFormHelperText-root {
    width: 13rem;
    color: var(--vscode-foreground) !important;
    margin-left: 0px !important;
}

.Mui-error {
    color: #EE0000 !important;
}

.MuiSelect-select,
.MuiMenu-paper,
.MuiAutocomplete-inputRoot {
    background-color: var(--vscode-dropdown-background) !important;
    color: var(--vscode-dropdown-foreground) !important;
}

.MuiInputLabel-root,
.MuiFormLabel-root {
    background-color: transparent;
    color: var(--vscode-settings-textInputForeground) !important;
}

.MuiAutocomplete-inputRoot {
    width: 45%;
    height: 3rem !important;
}

.MuiMenuItem-root {
    background-color: var(--vscode-dropdown-background) !important;
    color: var(--vscode-dropdown-foreground) !important;
}

.MuiMenuItem-root:hover {
    background-color: var(--vscode-button-hoverBackground) !important;
}

.MuiFormControl-root {
    border: none;
    max-width: 45%;

    &:hover {
        border: none;
    }
}

.MuiSvgIcon-root,
.MuiStepLabel-label {
    color: var(--vscode-settings-textInputForeground) !important;
}

.MuiCircularProgress-svg {
    color: #EE0000 !important;
}

.Mui-disabled {
    -webkit-text-fill-color: var(--vscode-settings-textInputForeground) !important;
}

.Mui-active {
    color: var(--vscode-button-hoverBackground) !important;
}

.MuiOutlinedInput-input {
    height: 1rem !important;
}
