body {
    &.vscode-light {
        background-color: var(--color-background--darken-05);
    }
}

.margin {
    margin: 1.5rem;
}

.mainContainer,
.formContainer,
.form {
    display: flex;
    flex-direction: column;
    font-family: var(--pf-global--FontFamily--heading--sans-serif);
}

.title {
    width: 100%;
    margin-bottom: 3rem;
}

.sub {
    margin: 1rem 0rem;
}

.buttonStyle {
    min-width: 8rem;
    max-width: 20rem;
    max-height: 5rem;
    height: 2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--vscode-button-foreground) !important;
    background: var(--vscode-button-background) !important;

    &:hover {
        background: var(--vscode-button-hoverBackground) !important;
    }

    text-transform: none;
}

.MuiFormHelperText-root {
    color: var(--vscode-foreground) !important;
    margin-left: 0px !important;
}

.Mui-error {
    color: #EE0000 !important;
}

.MuiOutlinedInput-input {
    padding: 5px 14px !important;
}

.MuiAccordionSummary-root {
    padding: 0px !important;
}
