.MuiFormHelperText-root {
    color: var(--vscode-foreground) !important;
    margin-left: 0px !important;
}

.Mui-error {
    color: #EE0000 !important;
}

.MuiOutlinedInput-input {
    padding: 5px 14px !important;
}

.MuiFormControl-root {
    border: none;
    &:hover {
        border: none;
    }
}

.MuiAccordionSummary-root {
    padding: 0px !important;
}
