# This is a basic workflow

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-18.04]
        node: [ '16' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Set up Node
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      # Run install dependencies
      - name: Install dependencies
        run: npm install

      # Run tests
      - name: Build and Test
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm run test:coverage --silent

      # Upload coverage to codecov.io
      - name: Codecov
        uses: codecov/codecov-action@v1.0.12
        if: runner.os == 'Linux'
        with:
          file: ./out/coverage/coverage-final.json

